@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #fafafa;
    --card-sedans: hsl(31, 77%, 52%);
    --card-suvs: hsl(184, 100%, 22%);
    --card-luxury: hsl(179, 100%, 13%);
}

.block-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
}

/* CARDS  */

.card-sedans {
    padding: 6% 4%; 
    background: var(--card-sedans);
    border-radius: 1rem 0 0 1rem;
}

.card-suvs {
    padding: 6% 4%; 
    background: var(--card-suvs);
}

.card-luxury {
    padding: 6% 4%; 
    background: var(--card-luxury);
    border-radius: 0 1rem 1rem 0
}

/*CARD HEADER */

.card__header {
    color: var(--text-color);
    margin: 2rem 0;
    text-transform: uppercase;
    font-family: 'big shoulders display', 'sans-serif';
    letter-spacing: 1px;
    font-weight: 700;
}

/*CARDS TEXT */

.card__text {
    color: var(--text-color);
    margin-bottom: 4rem;
    font-family: 'lexend deca', 'sans-serif';
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
}

/* BUTTONS */

.card__btn {
    text-decoration: none;
    background: #fafafa;
    padding: 10px 30px;
    border-radius: 100px;
    font-weight: 400;
    font-family: 'lexend deca', 'sans-serif';
}

/*BUTTONS COLORS */

.card-sedans .card__btn {
    color: var(--card-sedans);
}

.card-suvs .card__btn {
    color: var(--card-suvs);
}

.card-luxury .card__btn {
    color: var(--card-luxury);
}

/* HOVER BTN */

.card-sedans .card__btn:hover {
    color: var(--text-color);
    background: transparent;
    border: 2px solid #fafafa;
}

.card-suvs .card__btn:hover {
    color: var(--text-color);
    background: transparent;
    border: 2px solid #fafafa;
}


.card-luxury .card__btn:hover {
    color: var(--text-color);
    background: transparent;
    border: 2px solid #fafafa;
}



/* MOBILE */
@media only screen and (max-width: 375px) {
    
    .block-cards {
        display: block;
        margin: 10%;
    }

    .card-sedans {
     padding: 50px 28px;
     border-radius: 1rem 1rem 0 0;
    }

    .card-suvs {
        padding: 50px 28px;
    }

    .card-luxury {
        padding: 50px 28px;
        border-radius: 0 0 1rem 1rem;
    }
}
